.doctor-card {
  background-color: grey;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor-img {
  flex: 1;
}
.doctor-text {
  flex: 2;
}
.doctor-cta {
  flex: 1;
}
.doctor-avatar {
  margin: auto;
}
.doctor-name {
  display: flex;
}
.doctor-available {
  color: green;
}
.doctor-unavailable {
  color: red;
}
.starred {
  color: aqua;
}
